body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(20, 18, 18);
}

#calculator{
    font-family: Arial, sans-serif;
    background-color:darkgoldenrod;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding:20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: blanchedalmond;
    color: black;
}

#keys{
    display:block;
    grid-template-columns: repeat((1, 1fr));
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: whitesmoke;
    color: rgb(57, 46, 26);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color:rgb(255, 145, 0);
}

button:active{
background-color: cadetblue;
}

.operator-btn{
    background-color: rgb(16, 221, 112);
}

.operator-btn:hover{
    background-color: aqua;

}